
<!-- IF not S_IS_BOT -->

<div id="extended-RightControlsWrap">

<!-- Кнопка управления меню -->
	<div id="extended-ShowHideMenuBtn" class="extended-ControlsAll ePosRight"> </div>

<!-- Верхний блок кнопок -->
	<div id="extended-TopRightControls" class="extended-ControlsAll ePosRight">
	
		<a href="#" title="МОТОБРАТВА вконтакте">
			<img src="/ext/alecto/ExtendedControls/images/btn_vk.png" >
		</a><br/>
		<a href="#" title="МОТОБРАТВА на facebook">
			<img src="/ext/alecto/ExtendedControls/images/btn_fb.png" >
		</a><br/>
		<a href="#" title="Следуй за МОТОБРАТВой на twitter">
			<img src="/ext/alecto/ExtendedControls/images/btn_tw.png" >
		</a><br/><br/>
		<a href="#" title="Интернет-журнал CUSTOMMOTO">
			<img src="/ext/alecto/ExtendedControls/images/btn_cm.png" >
		</a><br/>
		<a href="#" title="MOTOKALENDAR - ближайшие мотособытия, мото мероприятия, календарь">
			<img src="/ext/alecto/ExtendedControls/images/btn_mk.png" >
		</a><br/>
		<a href="#" title="МОТОБАЗАР | motobasar.com - бесплатная доска объявлений">
			<img src="/ext/alecto/ExtendedControls/images/btn_mb.png" >
		</a>
	</div>

<!-- Кнопки в верх в низ -->
	<div id="extended-BottomRightControls" class="extended-ControlsAll ePosRight">
		<a href="/index.php" title="Портал">
			<img src="/ext/alecto/ExtendedControls/images/btn_portal.png" >
		</a><br/>
		<a href="/index.php" title="Список форумов">
			<img src="/ext/alecto/ExtendedControls/images/btn_forum.png" >
		</a><br/>
		<a href="#bottom" onclick="jQuery('html, body').animate({scrollTop:document.documentElement.scrollHeight}, 'slow');return false;" title="Вниз страницы">
			<img src="/ext/alecto/ExtendedControls/images/btn_back2bottom.png">
		</a>
	</div>

</div>

<!-- Кнопки "поделиться" -->
	<div class="share42init extended-ControlsAll" data-top1="150" data-top2="40" data-margin="-48"></div>

<!--  HTML кнопки наверх -->
	<div id="top-link" class="extended-ControlsAll">
		<a href="#top" id="top-link-a"><span id="topicon"></span><span id="text">Наверх</span></a>
	</div>

<!-- Список меню -->
	<!-- INCLUDE extended_menu_body.html -->

<!-- ENDIF -->
