
        <div id="extended-Menu" class="extended-ControlsMenu">

			<ul id="ldd_menu" class="ldd_menu">
				<li>
					<span>Разделы</span><!-- Increases to 510px in width-->
					<div class="ldd_submenu">
						<ul>
							<li class="ldd_heading">Важные</li>
							<li><a href="/viewforum.php?f=9">Мото-тусовки</a></li>
							<li><a href="/viewforum.php?f=7">Дальняк</a></li>
							<li><a href="/viewforum.php?f=8">Покатушки</a></li>
							<li><a href="/viewforum.php?f=15">Мото помощь</a></li>
							<li><a href="/viewforum.php?f=92">Книга памяти</a></li>
							<li><a href="/viewforum.php?f=83">Мото кидалово</a></li>
						</ul>
						<ul>
							<li class="ldd_heading">Технические</li>
							<li><a href="/viewforum.php?f=11">Обмен опытом</a></li>
							<li><a href="/viewforum.php?f=89">Задаем вопросы</a></li>
							<li><a href="/viewforum.php?f=12">Выбор мотоцикла</a></li>
							<li><a href="/viewforum.php?f=59">Статьи по теме</a></li>
							<li><a href="/viewforum.php?f=81">Инструкции, мануалы</a></li>
							<li><a href="/viewforum.php?f=6">Человек и закон</a></li>
						</ul>
						<ul>
							<li class="ldd_heading">Обсуждение</li>
							<li><a href="#">Наши кони</a></li>
							<li><a href="#">Поговорить о мото</a></li>
							<li><a href="#">Флудильня</a></li>
							<li><a href="#">Ищу попутчика</a></li>
							<li><a href="#">Бредовые идеи</a></li>
							<li><a href="#">Diving</a></li>
						</ul>
					</div>
				</li>
				<li>
					<span>Актуально</span>
					<div class="ldd_submenu">
						<ul>
							<li class="ldd_heading">Фотоотчеты</li>
							<li><a href="/viewtopic.php?f=9&t=4811">MotoGOnevo V</a></li>
							<li><a href="/viewtopic.php?f=9&t=4584">MotoGOnevo Ч</a></li>
							<li><a href="/viewtopic.php?f=9&t=4272">Мотопарк 2013</a></li>
							<li><a href="/viewtopic.php?f=9&t=4291">EICMA 2012</a></li>
							<li><a href="/viewtopic.php?f=9&t=4059">MotoGOnevo III</a></li>
							<li><a href="/viewtopic.php?f=9&t=3873">TuningFest 2012</a></li>
						</ul>
						<ul>
							<li class="ldd_heading">Конкурсы</li>
							<li><a href="/viewforum.php?f=35">Мисс «Мотобратва»</a></li>
							<li><a href="/viewforum.php?f=80">Мотобратва жжёт!</a></li>
							<li><a href="/viewtopic.php?f=35&t=3253">Мисс Октябрь 2011</a></li>
							<li><a href="/viewtopic.php?f=35&t=4224">Мисс Октябрь 2012</a></li>
							<li><a href="/viewtopic.php?f=35&t=2032">Мисс Декабрь 2010</a></li>
							<li><a href="/viewtopic.php?f=35&t=1446">Мисс Июль 2010</a></li>
						</ul>
						<ul>
							<li class="ldd_heading">Рассказы</li>
							<li><a href="/viewtopic.php?f=7&t=4752">В Испанию, апрель-май 2014</a></li>
							<li><a href="/viewtopic.php?f=7&t=4803">Нигерия. Черная Принцесса</a></li>
							<li><a href="/viewtopic.php?f=7&t=4798">Движение это жизнь!</a></li>
							<li><a href="/viewtopic.php?f=7&t=4266">Украина-Россия-Грузия-Турция</a></li>
							<li><a href="/viewtopic.php?f=7&t=4764">Украина-Сахара 2013</a></li>
							<li><a href="/viewtopic.php?f=7&t=4601">Прибалтика - Финляндия</a></li>
						</ul>
					</div>
				</li>
				<li>
					<span>Проекты</span>
					<div class="ldd_submenu">
						<ul>
							<li class="ldd_heading">Мотокалендарь</li>
							<li><a href="#">Ближайшие события</a></li>
							<li><a href="#">Новые события</a></li>
							<li><a href="#">Архив</a></li>
							<li><a href="#">Организаторам</a></li>
							<li><a href="#">Добавить событие</a></li>
						</ul>
						<ul>
							<li class="ldd_heading">Еще...</li>
							<li><a href="#">CUSTOMMOTO</a></li>
							<li><a href="#">Разместить статью</a></li>
							<li>&nbsp;</li>
							<li><a href="#">МОТОБАЗАР</a></li>
							<li><a href="#">Разместить объявление</a></li>
						</ul>
						<ul>
							<li class="ldd_heading">Мы в соцсетях</li>
							<li><a href="#">Вконтакте</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li>&nbsp;</li>
							<li><a href="/memberlist.php?mode=contactadmin">Обратная связь</a></li>
						</ul>
					</div>
				</li>
			</ul>
        </div>

